.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footerBackgroundColor;
}

.footer__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 50%;
    align-items: baseline;
    justify-content: start;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  
  @media screen and (max-width: 1199px) {
      text-align: center;
    }

  &--change-color {
    color: $mainWhiteColor;
  }
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $footerAddressColor;
  &:hover,
  &:focus {
    color: $accentColor;
  }

  &--addres {
    color: $mainWhiteColor;
    @include transition (color);
      &:hover,
      &:focus {
        color: $accentColor;
      }
  }
  @include transition (color);
}

.footer__item {
  &:not(:last-child){
    margin-bottom: 8px;
  }
}

.footer__list {
  @media screen and (max-width: 1199px) {
      text-align: center;
    }
}

.address__wrap {
  @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  @media screen and (min-width: 1200px) {
    margin-right: 85px;
  }
}

  .social__link--change-color {
    background-color: $footerIconBackgroundColor;
  }

  .social__icon--change-color {
    fill: $mainWhiteColor;
  }





