.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footerBackgroundColor;
}

.footer__wrap {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100%/2);
  }
  
  @media screen and (min-width: 1200px) {
    flex-basis: calc(50%/2);
    margin-bottom: 0;
    justify-content: start;
  }
}

.footer__logo {
  text-align: center;
  display: block;
  margin-bottom: 20px;

  &--change-color {
    color: $mainWhiteColor;
  }
  
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__item {
  display: block;
  text-align: center;
  &:not(:last-child) {
      margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__link {
  color: $footerAddressColor;

  &:hover,
  &:focus {
    color: $accentColor;
  }
  
  @include transition (color);
}

.footer__link--addres {
  color: $mainWhiteColor;
  @include transition (color);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.footer__social {
  margin-bottom: 60px;
  flex-basis: calc(100%/2);
  
  @media screen and (min-width: 1200px) {
    flex-basis: calc(50%/2);
  }
}

.social__link--change-color {
  background-color: $footerIconBackgroundColor;
}

.social__icon--change-color {
  fill: $mainWhiteColor;
}