.hero {
  background-color: $heroBackgroundColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 127px;

  @media screen and (max-width: 767px) {
      background-image:
          linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url(../images/bg-images/header-mob-1x.jpg);

          @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
              background-image:
                  linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                  url(../images/bg-images/header-mob-2x.jpg);
          }
    }

  @media screen and (min-width: 768px) {
    padding-bottom: 118px;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/bg-images/header-tablet-1x.jpg);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image:
              linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
              url(../images/bg-images/header-mob-2x.jpg);
          }
  }
  
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/bg-images/header-desctop-1x.jpg);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image:
              linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
              url(../images/bg-images/header-mob-2x.jpg);
          }
  }
}