.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0; 

  visibility: hidden;
  opacity: 0;  
  pointer-events: none;
  overflow-y: scroll;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  padding: 40px 40px;
  background-color: $mainWhiteColor;

  @include transition2 (opacity, visibility);

  &.is-open {
      @media screen and (max-width: 767px) {
        visibility: visible;
        opacity: 1;  
        pointer-events: fill;  
      }
    }

  @media screen and (min-width: 768px) {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  
  @media screen and (max-width: 420px) {
    padding: 20px 5px;
  }  
}

.nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }  
}

.mobile-menu__link {
  color: $accentColor;
  font-size: 18px;
  line-height: 1.22;
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $titleColor;
  
  @include transition(color);

  &--active {
    color: $accentColor;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.mobile-menu__contacts-head {
  margin-bottom: 64px;
}

.contacts-head__item {
  &:first-child {
    margin-bottom: 32px;
  }
}

.contacts-head__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $accentColor;
}

.contacts-head__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $mainTextColor;
}

.contacts-head__icon {
  display: none;
}

.mobile-menu__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.mobile-menu__item {
  margin-left: 10px;
  &:not(:last-child) {
    &::after {
      content: " ";
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    }
    
  }
}

body.is-open {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
  
}