.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $backdrop;

  @include transition2 (opacity, visibility)
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background: $mainWhiteColor;
  box-shadow: $teamBoxShadow;
  border-radius: 4px;

  @include transition (transform);
}

.modal__icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 8px;
  right: 8px;  
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: $accentColor;

  &:hover,
  &:focus {
    border-color: $accentColor;
  }

  @include transition (border-color);
}

.modal__icon--close {

  .modal__icon:hover &,
  .modal__icon:focus & {
    fill: $accentColor;
    transform: rotate(90deg);
  }

  @include transition2 (fill, transform);
}

.modal__filed {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.modal__coment {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.contact__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  .modal__input:focus + & {
    fill: $accentColor;
  }

  @include transition (fill);
}



.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $titleColor;
}

.modal__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:focus {
    border-color: $accentColor;
  }

  @include transition (border-color);
}



.modal__response {
  padding: 12px 16px;
  width: 100%;
  resize: none;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:focus {
    border-color: $accentColor;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }

  @include transition (border-color);
}

.modal__agreement {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.modal__button {
  display: block;
  margin: 0 auto;

&:hover,
&:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

  @include transition (box-shadow);
}

.agreement__input {
  position: absolute;
}

.agreement__icon {
  background-color: transparent;
  fill: transparent;
  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .agreement__input:checked + & {
    fill: $mainWhiteColor;
    background-color: $accentColor;
    border-color: transparent;
  }
  
  .agreement__input:focus + & {
    border-color: $accentColor;
  }
  @include transition3 (background-color, border-color, fill);
}


.agreement__text {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $titleColor;

  &:link {
    color: $accentColor;
  }
}