.specifics__wrap {
  background-color: $secondaryBackgroundColor;
  border-radius: 4px;
  height: 120px;
  width: 100%;
//   width: 270px;
  margin-bottom: 30px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.specifics__list {
  @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: calc(-1 * $imgGap);
    }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: -$imgGap;
  }
}

.specifics__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
    
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4*$imgGap)/ 2);
    margin: $imgGap;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8*$imgGap)/4);
  }
}

.specifics__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}