.footer__subscribe {
  @media screen and (min-width: 768px) {
    flex-basis: 450px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100%/2);
  }
}

.subscribe {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.subscribe__filed {
  position: relative;
  display: block;
  @media screen and (min-width: 1200px) {
      flex-basis: 358px;
      height: 50px;
    }
}

.subscribe__input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  padding-left: 16px;

  color: $mainWhiteColor;
  background-color: transparent;

  border: $subscribeBorder;
  border-radius: 4px;
  outline: transparent;

  @include transition (background-color);
}

.subscribe__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $mainWhiteColor;

  .subscribe__input:focus+&,
  .subscribe__input:not(:placeholder-shown)+& {
    opacity: 0;
    @include transition (opacity);
  }
}
.subscribe__button {
  display: flex;
  align-items: center;
  text-align: center; 

  font-size: 16px;
  line-height: 1.9;  
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
}

.subscribe__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;

  fill: $mainWhiteColor;
}

.subscribe__input:focus {
  border-color: $accentColor;
}