.team {
  background-color: $secondaryBackgroundColor;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -$imgGap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: -$imgGap;
  }
}

.team__img {
  width: 100%;
}

.team__item {
  background-color: $mainWhiteColor;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $teamBoxShadow;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
    margin-bottom: 30px;
    }
  } 

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4*$imgGap)/2 );
    margin: $imgGap;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8*$imgGap)/4);
    margin: $imgGap;
  }
}

.team__inner {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__person {
  margin-bottom: 10px;
  color: $titleColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}