$titleColor: #212121;
$logoHeaderColor: #000000;
$mainWhiteColor: #ffffff;
$mainTextColor: #757575;
$accentColor: #2196f3;
$accentHoverColor: #188CE8;
$mainIconColor: #AFB1B8;
$footerAddressColor: rgba(255, 255, 255, 0.6);

$heroBackgroundColor: #2f303a;
$secondaryBackgroundColor: #f5f4fa;
$workSubtitleBackground: rgba(47, 48, 58, 0.8);
$footerBackgroundColor: #2f303a;
$footerIconBackgroundColor: rgba(255, 255, 255, 0.1);
$menuButtonBackgroundColor: #f5f4fa;
$backgroundOverlay: rgba(33, 150, 243, 0.9);
$backdrop: rgba(0, 0, 0, 0.2);

$teamBoxShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$menuButtonShadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
$projectsHoverBoxShadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);

$headerBorderBottom: 1px solid #ECECEC;
$subscribeBorder: 1px solid rgba(255, 255, 255, 0.3);
$projectsContentBorder: 1px solid #eeeeee;

$raleway: "Raleway",
sans-serif;
$roboto: "Roboto",
sans-serif;

$imgGap: 30px;